---
title: MinusRus - Doom Style
---

<!doctype html>
<html>
<!-- Source of data: Ministry of Defense -->
<!-- Data queried from https://russian-casualties.in.ua/ -->
<!-- Doom text generated: https://c.eev.ee/doom-text-generator/ -->
<!-- Background image source:  -->
<head>
	<link rel="icon" type="image/x-icon" href="./assets/favicon/favicon.ico">
	<link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
	<link rel='stylesheet' type='text/css' href='main.css'>

	<title>MinusRus - Doom Style</title>
	<meta name="description" content="Our first page">
	<meta name="keywords" content="html tutorial template">
</head>
<body  onclick="showLabel()">

	{% assign all_records = site.data.numbers.records | map: "fields" %}

	{% assign personnel = all_records | where:"category","personnel" | first | map: "count" | string | remove: "[" | remove: "]" | split: ""  %}
	{% assign tanks = all_records | where:"category","tanks" | first  | map: "count" | string | remove: "[" | remove: "]" | split: "" %}
	{% assign acv = all_records | where:"category","acv" | first  | map: "count" | string | remove: "[" | remove: "]" | split: "" %}
	{% assign artillery = all_records | where:"category","artillery" | first  | map: "count" | string | remove: "[" | remove: "]" | split: "" %}
	{% assign mlrs = all_records | where:"category","mlrs" | first | map: "count" | string | remove: "[" | remove: "]" | split: "" %}

	<div class="top-label">
		<img src="assets/labels/russian_army.png">
		<img src="assets/labels/losses.png">
	</div>

		<!-- Personnel -->
		<div class="parent personnel">
			<div class="left margin-right-auto">
				<img src="assets/labels/personnel.png">
			</div>

			<div class="right">
				{% for number in personnel %}
					<img src="assets/labels/{{ number }}.png">
				{% endfor %}
			</div>
		</div>

		<!-- Tanks -->
		<div class="parent tanks">
			<div class="left margin-right-auto">
					<img src="assets/labels/tanks.png">
			</div>

			<div class="right">
				{% for number in tanks %}
					<img src="assets/labels/{{ number }}.png">
				{% endfor %}
			</div>
		</div>

		<!-- ACV -->

		<div class="parent acv">
			<div class="left margin-right-auto">
				<img src="assets/labels/acv.png">
			</div>
			
			<div class="right">
				{% for number in acv %}
					<img src="assets/labels/{{ number }}.png">
				{% endfor %}
			</div>
		</div>

		<!-- Artillery -->

		<div class="parent artillery">
			<div class="left margin-right-auto">
				<img src="assets/labels/artillery.png">
			</div>

			<div class="right">
				{% for number in artillery %}
					<img src="assets/labels/{{ number }}.png">
				{% endfor %}
			</div>
		</div>

		

		<!-- MLRS -->

		<div class="parent mlrs">
			<div class="left margin-right-auto">
				<img src="assets/labels/mlrs.png">
			</div>
			
			<div class="right">
				{% for number in mlrs %}
					<img src="assets/labels/{{ number }}.png">
				{% endfor %}
			</div>
		</div>

	<script>
		function showLabel() {
		  var sound = new Audio("assets/sounds/shotgun.mp3"); 
		  sound.play();
		  // var tanks = document.getElementsByClassName("tanks")[0];
		  // var acv = document.getElementsByClassName("acv")[0];
		  // var artillery = document.getElementsByClassName("artillery")[0];
		  // var mlrs = document.getElementsByClassName("mlrs")[0];
		  // if (tanks.style.display != "flex") {
		  //   tanks.style.display = "flex";
		  //   sound.play();
		  // } else if (acv.style.display != "flex") {
		  //   acv.style.display = "flex";
		  //   sound.play();
		  // } else if (artillery.style.display != "flex") {
		  //   artillery.style.display = "flex";
		  //   sound.play();
		  // } else if (mlrs.style.display != "flex") {
		  //   mlrs.style.display = "flex";
		  //   sound.play();
		  // }
		}
	</script>

</body>

</html>